# Dependencies
/node_modules
/.pnpm

# Next.js
/.next/
/out/
/build/

# Convex
/.convex/
/convex_dev.db
.env.local

# Testing
/coverage/

# VSCode
.vscode/

# macOS
.DS_Store

# Clerk
.clerk/cache

# Vercel
.vercel

# Temporary files
*~
\#*
*.swp
*.log
*.tmp
*.cache
*.DS_Store
